.contenido-personal-cuadro{
    color:black;
    padding: 40px;
    background-image: linear-gradient(176deg,#98dfa4 0%,#54b2f4 100%);
    /* transform: rotate3d(0,4,0.5,10deg) translatez(100px); */
    clip-path: circle(70% at 0% 50%);
    /* set the reference box of the Shape to be the same as the clip-path's for this example */
    shape-outside: circle(70% at 0% 50%) border-box;
}
.contenido-personal-cuadro:hover{
    /* transform: skewY(5.5deg) translate3d(0,-6px,0); */
    transform: rotate3d(0,0,1,60deg);
    /* transform: translate3d(0px,0px,0px); */
}